body {
	background-color: #FFFDD0;
}
#header {
	background-color: #3542a3;
	box-shadow: 0 2px 8px #FFFDD0;
	color:white;
}
ul {
	list-style: none;
}
.container {
	margin: 0 80px;
}
.flexbox {
	display: flex;
}
.nav li {
	height: 50px;
	padding: 0 10px;
	margin: 0 10px;
	text-align: center;
	line-height: 50px;
}
.top-inner {
	justify-content: space-between;
	align-items: center;
}
a {
	text-decoration: none;
	color:white;
}
.nav li:hover {
	transform:scale(1.1);
	font-weight:bold;
}
#community_issues_header {
	background-color: white;
	box-shadow: 0 2px 8px rgba(109, 109, 109, 0.4);
	color:black;
}
#second_header {
	background-color: black;
	box-shadow: 0 2px 8px rgba(109, 109, 109, 0.4);
	color:white;
}
#third_header {
	background-color: black;
	box-shadow: 0 2px 8px rgba(109, 109, 109, 0.4);
	color:white;
}
.dropdown {
	background-color:#3542a3;
	color: black;
}
.community_dropdown a:hover {
	background-color:#3542a3;
	color:black;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #3542a3;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
	z-index: 1;
	top: 100%;
	left: 0;
}
.dropdown-content li {
	display: block;
}
.dropdown:hover .dropdown-content {
	display: block;
}